{% extends 'home/base.html' %}

{% block title %}About Us{% endblock %}

{% load static %}

{% block content %}

<div class="container">
<br><br>
    <h2 class="text-center mt-4">About Us</h2>
    <div class="row mt-4">
        <div class="col-md-12">
            <p>We are dedicated to addressing the challenges that arise during the software requirements stage in the software development lifecycle. Security requirements are crucial for the development of reliable and secure software systems, but expressing them in natural language often leads to misunderstandings and inefficiencies due to human interpretation.</p>
            <p>Our project, "Exploration of Machine Learning Models to Classify Sentence-Level Security Requirements," seeks to overcome these challenges and significantly improve the accuracy and efficiency of identifying and categorizing sentence-level security requirements. By harnessing the power of machine learning models, we provide a robust solution that ensures every sentence is classified according to the CIA triad, thus reducing vulnerabilities and potential breaches.</p>
            <p>We are driven by the belief that software development can be streamlined when security requirements are identified and categorized automatically. This not only enhances the precision of requirements identification but also minimizes manual effort, benefiting both developers and stakeholders.</p>
            <p>Our vision is to fundamentally change how software requirements, especially security requirements, are recognized and categorized. We are committed to advancing innovative and secure software development practices, aligning with strategic goals, and improving the reputation of organizations.</p>
            <p>Join us on this journey as we utilize cutting-edge technology to make software development more secure, efficient, and error-free.</p>
        </div>
    </div>
    <h2 class="text-center mt-4">People Behind Us</h2>
    <p class="text-center mt-4">The talented individuals who power our success and drive innovation.</p>
    <div class="row mt-4">
        
        <div class="col-md-4">
            <div class="card">
                <img src="https://github.com/soniaiqbal/tempImages/blob/main/member1.jpeg?raw=true" class="card-img-top" alt="Noor's Profile Image" style="height: 450px;object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Noor U Mustafa</h5>
                    <p class="card-text">BSIT - Cyber Security</p>
                </div>
            </div>
        </div>
                
        <div class="col-md-4">
            <div class="card">
                <img src="https://raw.githubusercontent.com/soniaiqbal/tempImages/main/member2.jpeg" class="card-img-top" alt="Person 3" style="height: 450px;object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Benjamin Adams</h5>
                    <p class="card-text">BSIT - Cyber Security</p>
                </div>
            </div>
        </div>
        
        <div class="col-md-4">
            <div class="card">
                <img src="https://raw.githubusercontent.com/soniaiqbal/tempImages/main/member3.jpg" class="card-img-top" alt="Person 4" style="height: 450px;object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title">Dulanjana Chamudita Morakanda</h5>
                    <p class="card-text">BSIT - Cyber Security</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
